@helper Message(string id, string action, string type, string message)
{
    <div id="@id" class="hidden" hidden>
        <div class="alert alert-@type">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@action!</strong> @message
        </div>
    </div>
}

@helper AlertMessages()
{
    @Messages.Message("createMessage", "New", "success", "El registro se creó satisfactoriamente")
    @Messages.Message("deleteMessage", "Delete", "danger", "El registro se eliminó satisfactoriamente")
    @Messages.Message("editMessage", "Edit", "primary", "El registro se editó satisfactoriamente")
}