<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administracion ventas <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Mantenimientos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="~/proveedor">
            <i class="fas fa-fw fa-cog"></i>
            <span>Proveedores</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Cliente">
            <i class="fas fa-fw fa-cog"></i>
            <span>Clientes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/usuario">
            <i class="fas fa-fw fa-cog"></i>
            <span>Usuarios</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/producto">
            <i class="fas fa-fw fa-cog"></i>
            <span>Productos</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/rol">
            <i class="fas fa-fw fa-cog"></i>
            <span>Rol</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Log">
            <i class="fas fa-fw fa-cog"></i>
            <span>Logs</span>
        </a>
    </li>
    <hr class="sidebar-divider">

    <!-- Heading -->

    <div class="sidebar-heading">
        Proceso
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="~/venta">
            <i class="fas fa-fw fa-cog"></i>
            <span>Ventas</span>
        </a>
    </li>

</ul> <!-- End of Sidebar -->
