<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administracion ventas <sup>2</sup></div>
    </a>

    <li class="nav-item">
        <a class="nav-link" href="~/cliente">
            <i class="fas fa-fw fa-cog"></i>
            <span>Clientes</span>
        </a>
    </li>
    <!-- Heading -->
    <div class="sidebar-heading">
        Proceso
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="~/venta">
            <i class="fas fa-fw fa-cog"></i>
            <span>Ventas</span>
        </a>
    </li>
</ul>
