
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/images/intro.jpg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Panaderia y Postres</span>
                        <span class="section-heading-lower">Listo para servir y compartir</span>
                    </h2>
                    <p class="mb-3">Encuentra la combinación perfecta de los bocaditos que más te gustan. Comparte en familia o con amigos y disfruta de todo nuestro sabor de hogar.</p>
  
                </div>
            </div>
        </div>
    </section>
    <section class="page-section ">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">¿Qué buscamos como empresa?</span>
                        </h2>
                        <p class="mb-0">Nuestro propósito es inspirar a nuestro equipo a alcanzar todo su potencial y ayudarlos a cumplir sus metas y sueños.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
